# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage


# idea
.vscode
.idea

# misc
.DS_Store
.env.local
.env
nodemon.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
