@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply inline-flex items-center px-3 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 transition duration-150 ease-in-out; 
    }
    .rec.rec-dot_active {
    @apply ring-2 ring-pink-500 
    }
    .rec.rec-dot {
    @apply bg-pink-600 shadow-none
    }
    .rec.rec-dot:focus {
    @apply bg-pink-600 shadow-none
    }
}

@layer utilities {

.notification-item {
    animation: SlideIn 0.4s ease-in-out
}

@keyframes SlideOut {
    from{
        transform: translateY(0);
        opacity: 1;
    }

    to{
        transform: translateY(-20px);
        opacity: 0;
    }
}

@keyframes SlideIn {
    from {
        transform: translateY(-20px);
       opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.notification-item.exit {
    animation: SlideOut 0.4s ease-in-out;
}


}